html {
    comment: #6B727D;
    string: #98C379;
    unknown: #FF0000;
    justText: #ABB2BF;
    function: #61AEEF;
    function2: #61AFEF;
    class: #E5C17C;
    key: #C679DD;
    fields: #E06C75,
}
